// Root panel
.RootHeroSelect
{
	width: 100%;
	height: 100%;

	horizontal-align: center;
	vertical-align: center;

	background-color: transparent;
}

// Main panel (root is just a dummy so we can specify ID on this one)
.HeroSelect
{
	width: 80%;
	height: 70%;

	horizontal-align: center;
	vertical-align: top;
	margin-top: 5%;

	background-color: #111111AA;

	flow-children: down;
}

// Label at the top of the root panel
#SelectLabel
{
	height: 5%;
	horizontal-align: center;

	margin-top: 2%;

	color: white;
	font-size: 30px;
	text-shadow: 1px 1px 1px 3.0 #33333333;

	opacity: 1.0;
}

// Panel that holds all hero category panels
.Heroes
{
	width: 100%;
	height: 75%;

	horizontal-align: center;
	vertical-align: bottom;

	flow-children: up;
}

// Panels that hold all heroes from a specific category
.HeroesCategory
{
	width: 100%;
	height: 30%;

	flow-children: right-wrap;
}

// Individual hero panels
.HeroPanel
{
	width: 6.25%;
	height: 30%;

	background-color: transparent;
}

// Button to select a hero
.HeroButton
{
	width: 71px;
	height: 40px;

	horizontal-align: center;
	vertical-align: center;

	background-color: #BBBBBBFF;
	border: 0px;
}

// Panel at the bottom of the root panel
.BottomPanel
{
	width: 100%;
	height: 18%;
}

// Random hero button
#RandomHero
{
	vertical-align: center;
	horizontal-align: center;

	width: 15%;
	height: 35%;
}