// Root panel
.RootHeroSelect
{
	width: 100%;
	height: 100%;

	horizontal-align: center;
	vertical-align: center;

	background-color: transparent;
}

// Main panel (root is just a dummy so we can specify ID on this one)
.HeroSelect
{
	width: 80%;
	height: 75%;

	horizontal-align: center;
	vertical-align: top;
	margin-top: 5%;

	background-color: #111111AA;

	flow-children: down;
}

// Label at the top of the root panel
#SelectLabel
{
	height: 5%;
	horizontal-align: center;

	margin-top: 2%;

	color: white;
	font-size: 30px;
	text-shadow: 1px 1px 1px 3.0 #33333333;

	opacity: 1.0;
}

// Panel that holds all hero category panels
.Heroes
{
	width: 100%;
	height: 85%;

	horizontal-align: center;
	vertical-align: bottom;

	flow-children: right;
}

// Panels that hold two vertically-stacked hero categories
.HeroesSide
{
	width: 50%;
	height: 100%;

	flow-children: down;
}

// Panels for each category
.HeroesCategory
{
	width: 90%;
	height: 50%;

	horizontal-align: center;

	flow-children: down;
}

// Labels at the top of each hero category
.HeroesCategoryLabel
{
	horizontal-align: center;

	margin-top: 2%;

	color: #BBBBBB;
	font-size: 24px;
	text-shadow: 1px 1px 1px 3.0 #333333;

	opacity: 1.0;
}

// Panels that hold all heroes from a specific category
.HeroesList
{
	width: 100%;
	height: 85%;

	horizontal-align: center;

	flow-children: right-wrap;

}

// Individual hero panels
.HeroPanel
{
	width: 59px;
	height: 95px;

	background-color: transparent;
}

// Button to select a hero
.HeroButton
{
	width: 49px;
	height: 85px;

	horizontal-align: center;
	vertical-align: center;

	background-color: #BBBBBBFF;
}

// Hero images
DOTAHeroImage
{
	transform: scaleX(1.15) scaleY(1.15);
}

// Panel at the bottom of the root panel
.BottomPanel
{
	width: 100%;
	height: 10%;
}

// Random hero button
#RandomHero
{
	vertical-align: bottom;
	horizontal-align: center;

	margin-bottom: 10%;

	width: 250px;
	height: 50px;
}

// A class to apply the hero selection border animation
.HeroSelectAnimation
{
	animation-name: select_hero;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

// The animation for the hero selection border
@keyframes 'select_hero'
{
	0%
	{
		border: 5px solid #CCCCCCFF;
	}

	50%
	{
		border: 5px solid #55555544;
	}

	100%
	{
		border: 5px solid #CCCCCCFF;
	}
}