.BaseHud
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#Surrender
{
	horizontal-align: center;
	vertical-align: center;

	width: 10%;
	height: 5%;

	margin-top: 4%;
}

.MessagePanelTop {
	horizontal-align: center;

	width: 100%;
	height: 35%;
}

.MessagePanelMiddle {
	horizontal-align: center;
	width: 100%;
	height: 20%;
}

.MessageHeader {
	horizontal-align: center;
	vertical-align: center;

	font-size: 30px;
}

.MessageBody {
	horizontal-align: center;
	vertical-align: center;

	font-size: 24px;
	color: white;
}

.ButtonChoices {
	horizontal-align: center;
	height: 45%;
	width: 100%;
}

#ButtonYes {
	horizontal-align: left;
	vertical-align: center;
	margin-left: 12.5%;
}

#ButtonNo {
	horizontal-align: right;
	vertical-align: center;
	margin-right: 12.5%;
}

.PopupHolder
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;

	width: 28.5%;
	height: 23%;

	background-color: #232829EE;
	border: 1px;
	border-style: solid;
	border-color: #444444;
}