// Root panel
.RootScore
{
	width: 11%;
	height: 3.7%;

	horizontal-align: center;
	vertical-align: top;

	background-color: transparent;
}

// Score panels
.Score
{
	width: 30%;
	height: fill-parent-flow(1.0);

	background-color: #101010FF;
}

// Score value text
.ScoreLabel
{
	font-size: 26;

	horizontal-align: center;
	vertical-align: center;

	color: white;
	text-shadow: 1px 1px 1px 3.0 #33333333;
}

// Radiant's score
#ScoreLeft
{
	horizontal-align: left;
}

// Dire's score
#ScoreRight
{
	horizontal-align: right;
}